@import "~/src/scss/index.scss";

.b1 {
  .ui.form .field > label {
    //display: block;
    //margin: 0 0 0.28571429rem 0;
    //color: rgba(0,0,0,.87);
    //font-size: .92857143em;
    font-weight: 400 !important;
  }

  .ui.styled.accordion .accordion .title,
  .ui.styled.accordion .title {
    color: rgba(0, 0, 0, 0.6);
    //font-weight: 800;
  }

  .ui.styled.accordion .active.title {
    //color: rgba(0, 0, 0, 0.95);
  }

  .ui.styled.accordion .accordion .active.title,
  .ui.styled.accordion .accordion .title:hover,
  .ui.styled.accordion .active.title,
  .ui.styled.accordion .title:hover {
    background-color: $item-selected;
    color: rgba(0, 0, 0, 0.87);
  }

  [type="checkbox"] {
    width: 14px;
    height: 14px;
  }
}
