@import "~/src/scss/index.scss";

.survey {
  &__progress {
    &__title {
      display: flex;
      justify-content: flex-start;
      min-width: fit-content;

      &__blue {
        color: $primary;
        font-weight: bold;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
  }
}
