@import "~/src/scss/index.scss";

.tac {
  display: flex;
  width: 100%;
  background-color: $background-grey;

  //border: 2px dashed $primary;

  &__left {
    background-color: $background-dark-web;
    padding: 10px;
  }

  &__right {
    margin-left: 10px;
    width: 100%;
  }
}
