@import "~/src/scss/index.scss";

.encuestaTac {
  //background-color: red;
  margin-bottom: 5px;

  .ui.massive.segment,
  .ui.massive.segments .segment {
    margin-top: 5px;
  }

  &__header {
    width: 100%;
    min-width: fit-content;
    border-bottom: 3px solid gray;
    margin-bottom: 20px !important;
  }
  &__tac {
    display: flex;
    flex-direction: row;
    //align-items: center;
    //justify-content: center;

    width: 100%;
    background-color: $background-grey;

    //border: 2px dashed $primary;

    &__left {
      //background-color: $background-dark-web;
      padding: 10px;

      .ui.steps {
        border: 2px solid #dedede;
      }

      .ui.steps .step.active {
        //background: #f3f4f5;
        // background:  #bbb;
        background: #dedede;
      }
    }

    &__right {
      margin: 10px;
      width: 100%;
    }
  }
}
/*
@media screen and (max-width: 1024px) {
  .a {
    display: none;
  }
}
@media screen and (max-width: 924px) {
  .b {
    display: none;
  }
}
@media screen and (max-width: 824px) {
  .c {
    display: none;
  }
}
*/
@media screen and (max-width: 500px) {
  .encuestaTac {
    &__tac {
      &__left {
        display: none;
      }
    }
  }
}
