.navigation-buttons {
  //background-color: aqua;
  display: flex;
  justify-content: flex-start;

  &__progress-bar {
    //background-color: greenyellow;
    width: 100%;
    display: flex;
    min-width: fit-content;
    flex-direction: column;

    align-content: center;
    justify-content: center;

    align-self: center;

    margin: 5px;
  }
}
